{%extends 'JVSafarisMain/base.html'%}
{%load static%}


{%block head%}
<title>Our Services</title>
{%endblock%}

{%block pagetitle%}
Our services
{%endblock%}

{%block subtitle%}
Our Services
{%endblock%}

{%block body%}
    <!-- Service Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Services</h6>
                <h1>Tours & Travel Services</h1>
            </div>
            <div class="row">
             {%if services%}
             {%for service in services%}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <!--<i class="fa fa-2x fa-ticket-alt mx-auto mb-4"></i>-->
                        <h5 class="mb-2">{{service.category_name}}</h5>
                        <p class="m-0">{{service.category_description}}</p>
                        <br>
                        <a href="{%url 'JVS:service-items' service.id %}"><button class="btn btn-primary">View More</button></a>
                    </div>
                </div>
                {%endfor%}
            {%endif%}
            </div>
        </div>
    </div>
    <!-- Service End -->


     <!-- Testimonial Start -->
     <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonial</h6>
                <h1>What Say Our Clients</h1>
            </div>
            {%for testimony in testimonials%}
            <div class="owl-carousel testimonial-carousel">
                <div class="text-center pb-4">
                    <img class="img-fluid mx-auto" src="{{testimony.image.url}}" style="width: 100px; height: 100px;" >
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">
                            {{testimony.comment}}
                        </p>
                        <h5 class="text-truncate">Client Name</h5>
                        <span>{{testimony.occupation}}</span>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    {%endblock%}