{%extends 'JVSafarisMain/base.html'%}
{%load static%}


{%block head%}
<title>{{service.category_name}}</title>
{%endblock%}

{%block pagetitle%}
{{service.category_name}}
{%endblock%}

{%block subtitle%}
{{service.category_name}}
{%endblock%}

{%block body%}

<div class="container" style="margin-top: 10px;">
    {%for service in service.service_set.all%}
    {%if service.serviceitem_set.count <= 0%}

    {%else%}
    <h3>{{service.category_description}}</h3>
    <hr>

    {%endif%}
    <div class="row">
    {%for service in service.serviceitem_set.all%}

     <div class="col-lg-4 col-md-6 mb-4">
        <div class="package-item bg-white mb-2">
            <a href="{%url 'JVS:service-detail' service.id %}"><img class="img-fluid" src="{{service.image.url}}" alt=""></a>
            <div class="p-4">
                <div class="d-flex justify-content-between mb-3">
                    <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>{{service.location}}</small>
                    <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>{{service.kids}} kids</small>
                    <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>{{service.adults}} adults</small>
                </div>
                <a class="h5 text-decoration-none" href="">{{service.item_description}}</a>
                <div class="border-top mt-4 pt-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="m-0">{{service.duration}} days</h6>
                        <h5 class="m-0">Kes {{service.price.charge}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%endfor%}
</div>
    {%endfor%}
    
</div>
{%endblock%}