{%extends 'JVSafarisMain/base.html'%}
{%load static%}

{%block head%}
<title>Testimonials</title>
{%endblock%}


{%block pagetitle%}
Testimonials
{%endblock%}

{%block subtitle%}
Testimonials
{%endblock%}


{%block body%}
    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonial</h6>
                <h1>What Say Our Clients</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
               
                
                {%for testimony in testimonials%}
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="{{testimony.image.url}}" style="width: 100px; height: 100px;" >
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">
                            {{testimony.comment}}
                        </p>
                        <h5 class="text-truncate">{{testimony.name}}</h5>
                        <span>{{testimony.occupation}}</span>
                    </div>
                </div>
                {%endfor%}


            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    {%endblock%}

